<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Example</title>
    <script type="text/javascript">
        function openPopup(event) {
            event.preventDefault();  // Preventing the default action (navigation)
            
            // Correcting the way the URL is passed to the JavaScript function
            var url = "{{ url_for('login', _external=True) }}";

            // Opening the new window
            var newWindow = window.open(url, 'targetWindow', 
                'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=600');
            
            // Focusing the new window if possible
            if (window.focus) {
                newWindow.focus();
            }
        }
    </script>
</head>
<body>
    <!-- Inline 'onclick' event with 'event' argument -->
    <a href="#" onclick="openPopup(event);">
        <img width="200" src="{{ url_for('static', filename='img/instagramLogin.png') }}" alt="Login">
    </a>
</body>
</html>
